
body{
 margin: 0;
 font-family: 'Slabo 27px', serif;
}


h2{
  color:#f88020;
  font-family: 'Slabo 27px', serif;
  font-size: 30px;
  text-align: center;
}

p{
  text-align: center;
  font-family: 'Slabo 27px', serif;
  font-size: 28px;
  color: #f88020;
}

.head{
  background-color: #3c3939;
  padding: 200px;
  height: 300px;}


.intro{
  background-color: #f3f1f1;
  padding: 100px;
  margin: 0;
 height: 300px;
}

.skill{
  background-color: #3c3939;
  padding: 100px;
 height: 700px;
}

.img-skill{
  height: 100px;
  width: 100px;
}
.resume{
  background-color: #f3f1f1;
  padding: 50px;
  margin: 0;
 height: 300px;
}
.heading{
  color: #dc7b34;
  font-size: 80px;
  font-family: 'Slabo 27px', serif;
  margin-right: 2px;
  margin: auto;
  padding-top: 2px;
}
.skill-row{
  width: 50%;
  margin: 0px;
  float: left;
  margin-top: 20px;
}

.skill-row-1{
  margin: 0px;
  width: 50%;
  float: right;
  margin-top: 100px;
}

.skill-row-2{
  margin: 0px;
  width: 50%;
  float: left;
  margin-top: 50px;
}

.text{
   text-align: center;
}
.resume-link:hover{
  text-align: center;
  background-color: orange;
}
.contact{

  background-color: #3c3939;
  padding: 100px;
 height: 100%;

}

.social{
  height: 5%;
  width: 5%;
  margin-top: 100px;
  margin-left: 150px;
  margin-right: 100px;
}
.btn:hover{
  background-color: orange;
}
#main-head{
  margin: 0;
  color: #f88020;
  font-family: 'Parisienne', cursive;
  font-size: 100px;
  margin-bottom: 40px;
  margin-left: 10px;
}
#main-img{
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border-style: solid;
  position: absolute;
  bottom: 500px;
  left: 300px;
  top: 200px;
  float: left;
}

#skill-img{
  height: 250px;
  width: 250px;
  float: left;
  margin-right: 20px;
  background-color: #3c3939;

}

#skill-img-1{
  height: 250px;
  width: 250px;
  float: right;
  margin-left: 20px;

}
.resume-link{
  text-align: center;

}
